@model FileViewModel

<div>
    <div class="file-name-container">@Model.Name.@Model.FileType.Type</div>
    <div class="file-content-container">
        <pre>@Model.Content</pre>
    </div>    
</div>